<h1>Welcome to the Dashboard</h1>

<p>You are signed in as <%= current_user.email %></p>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>


<% if current_user.admin? %>
  <%= render 'referrals' %>
<% else %>
 <div>
    <p><strong>First Name:</strong> <%= current_user.first_name %></p>
    <p><strong>Last Name:</strong> <%= current_user.last_name %></p>
    <p><strong>Email:</strong> <%= current_user.email %></p>
    <p><strong>Referred_by:</strong> <%= Referral.find_by(email: current_user.email, status: :accepted)&.user&.email || 'None' %> </p>
  </div>
<% end %>

